
/* This Css is for small mobile */

@media (max-width: 767px) {
    .header{
        background-size: auto;
    }
    .single_store {
        border-left: 0px;
    }
    .last {
        border-right: 0px;
    }
   
    .video {
        padding-top: 50px;
    }
    .video-button {
        text-align: center;
    }
    .call_to_action .col-md-3 {
        text-align: center;
        padding-top: 50px;
    }
    .single_fun_facts {
        padding-bottom: 60px;
    }
    .about_phone img {
        width: 100%;
    }
    .home_text h1 {
    font-family: 'Lusitana', serif;
    color: #fff;
    text-transform: lowercase;
    font-size: 60px;
    font-weight: 300;
    line-height: 40px;
    padding-top: 0px;
    margin-top:100px;
    margin-bottom:80px;
    text-align:center;
}
.home_text p {
    color: #fff;
    font-size: 22px;
    line-height: 27px;
    margin-top:40px;
    font-weight: 200;
    letter-spacing: 5px;
    text-align:center;
    
}
.contact h2 {

    font-size:25px; 
}
.contact_form #submitbtn {

    height:50px;
    width:250px; 
}
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-left:30px;padding-right:30px}
}
/* This Css is for tablet */

@media (min-width: 760px) {
    .single_store {
        border-left: 0px;
    }
    .last {
        border-right: 0px;
    }
    .iphone {
        float: none;
        text-align: center;
    }
    .about_phone {
        text-align: center;
    }
    .call_to_action .col-md-3 {
        text-align: center;
        padding-top: 50px;
    }
    .video-button {
        text-align: center;
    }
    .single_fun_facts {
        padding-bottom: 60px;
    }
    .video {
        padding-top: 50px;
    }
}
/* This Css is for Medium Deviced */

@media (min-width: 992px) {
    .last {
        border-right: 1px solid #0F1217;
    }
    .single_store {
        border-left: 1px solid #0F1217;
    }
    .iphone {
        float: right;
    }
    .video-button {
        text-align: left;
    }
    .call_to_action .col-md-3 {
        text-align: right;
        padding-top: 0px;
    }
    .single_fun_facts {
        padding-bottom: 0px;
    }
    .video {
        padding-top: 00px;
    }
}
/* This Css is for large Deviced */

@media (min-width: 1200px) {
    .last {
        border-right: 1px solid #0F1217;
    }
    .single_store {
        border-left: 1px solid #0F1217;
    }
    .iphone {
        float: right;
    }
    .video-button {
        text-align: left;
    }
    .call_to_action .col-md-3 {
        text-align: right;
        padding-top: 0px;
    }
    .video {
        padding-top: 0px;
    }
}
